.site-header-recipe {
	display:none;
}
.print {
	visibility:visible;
}
.site-footer{
	display: none;
}
img {
	max-height: 400px;
	max-width: 400px;
	
}
h1 {
	font-size: 14px;
}
.intro-story{
	display: none;
}