p {
	color: #404040;
}
h1 {
	text-align: center;
	font-size: 1.3em;
}
h2 {
	text-align: center;
	font-size: 2em;
}
a img{
	border-radius: 50%;
}
.header-home {
	width: 100%;
	max-width: 2048px;
}
.page-content {
	padding:0;
}
.nav {
	height: 100%; 
}
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 

.navigation {
	text-align: center;
	color:#404040;
	font-size: 1.5em;
}

.wrapper-home{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 2048px;
}

.recipe-box {
	
}
.thumbnail-photo {
	height: 300px;
	width: 300px;
}
.about {
	height: 400px;
	width: 100%;
	position: center;
	color: #757575;
	background-color: #81d8d0;
}
.baking-essentials {
	height: 400px;
}
.header-home {
	max-height: 500px;

}
.home {
	width: 100%;
}