<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper-home">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
 <script type="text/javascript">
 $(document).ready(function() {  
  var stickyNavTop = $('.nav').offset().top;  
    
  var stickyNav = function(){  
  var scrollTop = $(window).scrollTop();  
         
  if (scrollTop > stickyNavTop) {   
      $('.nav').addClass('sticky');  
  } else {  
      $('.nav').removeClass('sticky');   
  }  
  };  
    
  stickyNav();  
    
  $(window).scroll(function() {  
      stickyNav();  
  });  
}); 
 </script>   


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" href="/js/script.js"></script>
  <script type="text/javascript" href="/js/jquery-scrolltofixed-min.js"></script>
  </body>

</html>
